$headerHeight: 26px;

body {
  margin: 0;
  background-color: #fff;
}

.btn {
  height: $headerHeight;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: rgba(0,0,0, 0.03);
  &:hover {
    background-color: rgba(0,0,0, 0.3);
  }
}

.-center {
  margin: 0 auto;
  text-align: center;
}

section#app {
  height: 100vh;

  section.-header {
    border-bottom: 1px solid #bbb;
    box-shadow: 1px 2px 5px #bbb;
    display: flex;
    align-items: center;
    height: $headerHeight;

    .-title {
      margin-left: 10px;
      font-size: 22px;
      font-weight: 700;
      background: linear-gradient(green, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .-toolbox {
      margin-left: 10px;
      .btn {
        margin-right: 2px;
      }
    }
    .-last-updated {
      margin-left: 10px;
      color: #bbbbbb;

      .-value {
        font-weight: bold;
      }
    }
  }

  section.-match {
    display: flex;
    align-items: center;
    height: 100%;

    .-center {
      font-size: 26px;
      color: #bbb;
    }
  }

  section.-empty {
    display: flex;
    height: calc(100vh - #{$headerHeight});
    justify-content: center;
    align-items: center;

    .-links {
      margin-top: 16px;
      font-size: 11px;
    }

    .-center {
      font-size: 26px;
      color: #bbb;
    }
  }

  section.-delta {
    padding-top: 10px;
  }

}
